@model RegisterViewModel

<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css" />
</head>
<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="header">Sign Up</div>
    <div class="block">
        <label>UserName</label>
        <input class="input" asp-for="UserName">
        <span asp-validation-for="UserName"></span>
    </div class="block">
    <div>
        <label>Password</label>
        <input class="input" asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
        <div>
        <label>Confirm Password</label>
        <input class="input" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="block">
        <button class="button" type="submit">Sign up</button>
    </div>
    <a class="switch-button" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
</form>